*.log*
work/
raw_metadata/isolate_genomes/CheckM_report_prokaryotes.txt
genome_fastas/
raw_metadata/peptides/
raw_metadata/mag_datasets/MiFoDB/MiFoDB_beta_v3/
raw_metadata/mag_datasets/MiFoDB/MiFoDB_beta_v3/MiFoDB_fastas/
raw_metadata/mag_datasets/Saak2023CheeseMAGs/all_genomes/
raw_metadata/mag_datasets/CellFoodMetagenomics/cFMD_mags/
raw_metadata/mag_datasets/CellFoodMetagenomics/cFMD_mags.tar.gz
raw_metadata/mag_datasets/FermentedFoodBGCs/food-fermentation-metagenome-data/
raw_metadata/mag_datasets/MiFoDB/beta_v2/
raw_metadata/mag_datasets/MiFoDB/MiFoDB_beta_v3.zip
*.genes
*.fa
*.faa
*.fna
*.fasta
*.tar.gz
*.zip
.DS_Store
.RData
.Rhistory
.Rproj.user/
*.Rproj
