.nextflow*
*.stats.tsv
metadata/raw_metadata/genomequal_results
*.log*
work/
metadata/raw_metadata/bacdive_genomes/CheckM_report_prokaryotes.txt
genome_fastas/
metadata/raw_metadata/mag_datasets/MiFoDB/MiFoDB_beta_v3/
metadata/raw_metadata/mag_datasets/MiFoDB/MiFoDB_beta_v3/MiFoDB_fastas/
metadata/raw_metadata/mag_datasets/Saak2023CheeseMAGs/all_genomes/
metadata/raw_metadata/mag_datasets/CellFoodMetagenomics/cFMD_mags/
metadata/raw_metadata/mag_datasets/CellFoodMetagenomics/cFMD_mags.tar.gz
metadata/raw_metadata/mag_datasets/FermentedFoodBGCs/food-fermentation-metagenome-data/
metadata/raw_metadata/mag_datasets/MiFoDB/beta_v2/
metadata/raw_metadata/mag_datasets/MiFoDB/MiFoDB_beta_v3.zip
*.genes
*.fa
*.faa
*.fna
*.fasta
*.tar.gz
*.zip
.DS_Store
.RData
.Rhistory
.Rproj.user/
*.Rproj
